* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 10vh;
    background-color: #121212;
    color: white;
    font-weight: bold;
}

.welcome {
    color: green;
    width: 50vw;
    height: 20vh;
    background-color: red;
}
