@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Antic Slab', serif;
    overflow-x: hidden;
}

.intro {
    background-color: #17330A;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: transparent;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    position: sticky;
}

.logo {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 2vw;
    background: #FFFFFF;
}

.links {
    height: 80px;
    width: 510px;
    background-color: transparent;
    position: absolute;
    right: 2vw;
    display: flex;
    justify-content: center;
    gap: 3vw;
}


.shop-link {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 80px;
    background-color: transparent;
    color: white;
    font-size: 48px;
    border: transparent;
}

a {
    text-decoration: none;
}

.about-link {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 80px;
    background-color: transparent;
    color: white;
    font-size: 48px;
    border: transparent;
}

.about-link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.contact-link {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 80px;
    background-color: transparent;
    color: white;
    font-size: 48px;
    border: transparent;
}

.contact-link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 128px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}

.scroll-icon {
    width: 2em;
    height: 4em;
    border: 0.3em solid white;
    border-radius: 2em;
    position: absolute;
    left: 50%;
    bottom: 10%;
}

.scroll-wheel {
    position: absolute;
    left: 50%;
    top: 15%;
    width: 0.6em;
    height: 0.6em;
    background-color: white;
    transform: translate(-50%);
    border-radius: 0.6em;
    animation: wheel 1.5s ease-in-out infinite;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
    20%, 70% {
        opacity: 1;
    }
    90%, 100% {
        transform: translate(-50%, 150%);
        opacity: 0;
    }
}

/*
Next block (2)
*/

.about {
    width: 100vw;
    height: 100vh;
    background-color: #467441;
}

.container-1 {
    display: flex;
    flex-direction: row;
}

.container-2 {
    display: flex;
    flex-direction: row;
}

.about-big-1 {
    width: 60vw;
    height: 40vh;
    background-color: white;
    margin-block: 4vh;
    margin-inline: 4vw;
    border-radius: 1vh;
}

.about-big-2 {
    width: 60vw;
    height: 40vh;
    background-color: white;
    margin-block: 4vh;
    margin-inline: 4vw;
    margin-top: 8vh;
    border-radius: 1vh;
}

.about-small-1 {
    width: 30vw;
    height: 40vh;
    background-color: white;
    margin-block: 4vh;
    margin-inline: 4vw;
    border-radius: 1vh;
}

.about-small-2 {
    width: 30vw;
    height: 40vh;
    background-color: white;
    margin-block: 4vh;
    margin-inline: 4vw;
    margin-top: 8vh;
    border-radius: 1vh;
}


/*
Next block (3)
*/

.contact {
    width: 100vw;
    height: 100vh;
    background-color: #44AE4A;
}